name: Build Gradle

on:
  push:
    branches:
      - '!gh_pages'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build :api:apiCheck --stacktrace
    - name: Deploy snapshot
      run: gradle/deploy_snapshot.sh
      if: github.ref == 'main'
